@charset "UTF-8";
/* CSS Document */

.tab_top {width:230px;background:#b52618;width:270px; left:0px;}
.tab_top a {width:230px;}
.redroom .taylorswift .cd_info {background:none;filter:none;}

.cd_info {filter:none;}